<ion-view title="{{ data.id }}">

    <ion-header-bar class="bar bar-assertive">
        <div class="buttons">
            <button class="button button-clear icon ion-edit header-button"></button>
        </div>
        <div class="buttons">
            <button class="button button-clear icon ion-close-round header-button" ng-click=""></button>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing="true">
        <div class="list card">

            <div class="item item-image">
                <img class="card-image" ng-src="{{ bricks.src }}" />
            </div>

            <div class="modal-content">
              <h10 class="modal-h10">{{ data.title }}</h10>
              <p class="modal-card-text">{{ data.content }}</p>
            </div>

            <div class="masonry-article">
                <div ng-repeat="brick in bricks">
                    <img class="item-masonry-article" ng-src="{{ brick.src }}" ng-click="openModal({{ brick.index }})" />
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>