<div class="modal" align-title="center" style="width: 100%; height: 100%;">

    <ion-header-bar class="bar bar-assertive">
        <div class="buttons">
            <button class="button button-clear icon ion-close-round header-button" ng-click="closeModal()"></button>
        </div>
        <h1 class="title">Nuevo</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-checkmark-round header-button" ng-click="newPost()"></button>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="true">

        <div class="container4">
        <table>
            <tr>
                <td style="vertical-align:top"><a ng-click="openOptions('principal')"><div style="height:0;"><img src="img/photo.png" alt="" height="221" max-width="100%"></div></a></td>
                <td><a ng-click="openOptions('img1')"><img src="img/photo.png" style="margin-left: 4px;" height="70" width="70"/></a></td>
            </tr>
            <tr>
                <td><!--empty--></td>
                <td><a ng-click="openOptions('img2')"><img src="img/photo.png" style="margin-left: 4px;" height="70" width="70"/></a></td>
            </tr>
            <tr>
                <td><!--empty--></td>
                <td><a ng-click="openOptions('img3')"><img src="img/photo.png" style="margin-left: 4px;" height="70" width="70"/></a></td>
            </tr>
        </table>
        </div>
        <h11>Titulo</h11>
        <textarea id="title" placeholder="Introducir el titulo" type="text"></textarea>
        <h11>Descripcion</h11>
        <textarea id="description" placeholder="Introducir la descripcion" type="text"></textarea>
    </ion-content>

</div>
